html,
body {
  font-size: 16px;
  margin: 0;
}
nav a {
  display: flex;
  color: rgba(255, 255, 255, 0.65);
  position: absolute;
  right: 20px;
  top: 10px;
  justify-content: flex-end;
  text-decoration: none;
}
nav i {
  font-size: 4rem;
  color: white;
  margin-left: 1rem;
  display: flex;
  position: absolute;
}
.ancors a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.65);
  /* display: flex; */
  justify-contet: space-between;
  /*  flex-direction: row; */
  padding: 15px 10px;
  font-size: 13px;
}

button {
  background-color: #279aff;
  border-radius: 4px;
  border: none;
  color: #f9f9f9;
  cursor: pointer;
  font-family: inherit;
  font-size: 22px;
  font-stretch: normal;
  font-style: normal;
  height: calc(48px + 1.1vw);
  letter-spacing: 0.5px;
  line-height: normal;
  text-align: center;
  margin: 50px;
  font-family: Avenir-Roman, Arial, Helvetica, sans-serif;
}
.cover {
  height: 100%;
  width: 100%;
  background-image: url("https://i.imgur.com/s85FZkc.png");
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  /*  De derecha a izquierda  */
  align-items: center;
  /* De arriba hacia abajo   */
  justify-content: center;
}

.disney1 img {
  display: block;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-height: 200px;
}
.disney1 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.imgContent img {
  /*   display:flex; */
  justify-content: space-between;
  max-width: 200px;
  min-height: 60px;
}
